/* mobile styles */

/* figure out if some parent should be absolute and then everything within relative? */

* {
    box-sizing: border-box;
}

body {
    font-family: 'lato-light';
    margin: 0;
}

/*header {
    width: 100vw;
}*/

.burger-menu {
    float: right;
    padding: 20px;
}


.patty {
    border-bottom: 3px solid #fff;
    width: 23px;
    margin: 4px;
}


.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

ul {
    list-style-type: none;
}


h1 {
    font-weight: normal;
}
.h1-center {
    text-align: center;
}
.welcome {
    height: 95vh;
    /*background-image: url(image/hk.jpg);*/
    background-color: #000;
    background-size: cover;
    color: #fff;

}
.welcome-name {
    padding-top: 3.6em;
    padding-left: 0.7em;
    font-size: 2.3em;
    margin: 0;
}
h1.welcome-name {
    padding-right: 2em;
}
.intro-p {
    /*position: absolute;
    top: 15.2em;
    left: 1.7em;*/

    padding-left: 1.7em;
    padding-right: 2.3em;
}
h2 {
    margin: 0;
    font-weight: normal;
    padding-top: 1em;
    padding-left: 0.7em;
}
.videography {
    /*position: absolute;
    top: 50em;
    left: 1.7em;*/
    width: 100vw;
}
.animation {
    width: 100vw;
}
.webdesign {
    width: 100vw;
}
.photography {
    width: 100vw;
    height: 100vh;
}
.knowmore {
    width: 100vw;
    height: 50vh;
}
.knowmore h2 {
    text-align: center;
    padding-left: 0;
    border: none;
}
.get-in-touch {
    font-size: 0.8em;
    border: 1px solid black;
    background-color: transparent;
    padding: 0.8em 2.5em;
}
.in-touch-link {
    text-align: center;
    margin: 2em;
}
.underline {
    border-bottom: 2px solid black;
    margin: 0.3em 2em 1.5em 1em;
}
.portrait {
    background-color: lightgray;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}
div.portrait {
    margin: auto;
}

a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
    padding: 1.5em 3.5em;
}
/*a img {
    width: 20vw;
    height: auto;
}*/

/*form starts*/

div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  /*e1e3e5*/
  padding: 10px;
  margin: 0px 5px 5px 5px;
  width: 65vw;
  margin: 0 auto;
}
label {
  font-family: 'print clearly', sans-serif;
}

/* w3 schools */

input[type=text],
select {
  width: 100%;
  height: 2em;
  border: none;
  margin-bottom: 10px;
  margin-top: 2px;
  padding: 0;
}
input[type=email] {
  width: 100%;
  height: 2em;
  border: none;
  margin-bottom: 10px;
  margin-top: 2px;
  padding: 0;
}
input[type=submit] {
  width: 100%;
  height: 3em;
  border: none;
  background-color: #f4c101;
  padding: 0;
  margin-top: 0.5em;
}
textarea {
  resize: none;
  width: 100%;
  height: 20vh;
  border: none;
  padding: 0;
}

/*form ends*/

label img {
    width: 40px;
    padding: 10px 0px 0px 10px;
}
.so-me {
    text-align: center;
    margin-top: 11.3em;
}
img.icons {
    width: 2em;
    padding: 0;
    margin: 0;
    justify-content: center;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */

.container {
    position: relative;
}

.hover-overlay {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.container:hover .hover-overlay {
    opacity: 0.5;
}

img.video {
    padding: 0;
}

/* tablet devices */

@media only screen and (min-width: 480px) {

    img {
        padding: 2em 5em;
    }
    div.form label {
        display: block;
    }
    /*br {
        display: none;
    }*/

}

@media only screen and (min-width: 768px) {

    .video-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        margin: 0em 2em;
    }
    .design-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        margin: 0em 2em;
    }
    img {
        padding: 2em 2em 2em 2em;
    }

    .underline {
        margin: 0.3em 3em 1.5em 1em;
    }

}

@media only screen and (min-width: 1024px) {

    h2 {
        margin-top: 1em;
    }
    .underline {
        margin-bottom: 3em;
    }
    .video-content {
        padding: 0em 6em;
    }

}


